.daniel{
  height: auto;
  width:100vw;
}
body{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
}
.datbenik{
  pointer-events: none;
    top: 50%;
    font-size: 3rem;
    left: 40%;
    color: floralwhite;
    padding:2rem;

}
.loader{
  width: 6rem;
  height: 6rem;
  margin: 13rem auto;
  border-radius:50%;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid darkorange;
  -webkit-animation: load8 1.1s infinite ease-in;
  animation: load8 1.1s infinite ease-in;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.tarotBtn{
  position: fixed;
  top:3rem;
  left:2rem;
  font-size: 3rem;
  background: tomato;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
 
  justify-content: center;
  align-items: center;
  border: 5px solid firebrick;

}
.contactBtn{
  position: fixed;
  top:6rem;
  right:2rem;
  font-size: 3rem;
  background: lightgreen;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
 
  justify-content: center;
  align-items: center;
  border: 5px solid darkcyan;


}
.addPhotoBtn{
  position: fixed;
  bottom:3rem;
  right:3rem;
  font-size: 3rem;
  background: aquamarine;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
 
  justify-content: center;
  align-items: center;
  border: 5px solid lightseagreen;
}

input[type=file]{
  opacity: 0;
  position: fixed;
}
.tarotName{
  font-size:4rem;
  background:darkmagenta;
  color: aquamarine;
  padding:1rem;

}
ul{
  font-size: 1rem;
}
.closeTarot{
  width:100%;
  height:4rem;
  background: red;
  color:white;
  font-size: 1rem;
}
.tarotMeaning{
  padding:2rem;
}
.tarotDescription{
  padding:1rem;
  background: lightgreen;
  color: darkgreen;
}
.tarot{
  overflow: auto;
  font-size:2rem;
  opacity: 0.9;
  background: aquamarine;
  color: darkmagenta;
  position: absolute;
  background: whitesmoke;
  color: green;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

.sendBtn{
  width:100%;
  font-size: 3rem;
  background: whitesmoke;
  color: palevioletred;
  height: 4rem;
}

.contact{
  overflow: auto;
  font-size:2rem;
  opacity: 0.9;
  background: goldenrod;
  color: darkslategrey;
  position: absolute;
  height: 100vh;
  color: green;
  top:0;
  bottom:0;
  right:0;
  left:0;
padding:1rem;
}
.label{
  font-size: 1rem;
}