.daniel{
  height: auto;
  width:100vw;
}
body{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;

}
.datbenik{
  position: fixed;
    top: 50%;
    font-size: 4rem;
    left: 40%;
    color: floralwhite;
    padding:2rem;

}